<nav class="sidebar" id="sidebar">
  <form class="d-none d-md-inline-block form-inline">
    <div id="searchbox">
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
        (keydown.enter)="generateUrl()"
        [(ngModel)]="inputValue"
        name="input"
      />
    </div>
  </form>

  <ul id="add_padding" class="nav-item">
    <a class="nav-link" routerLink="movies/nowplaying">
      <span class="fas fa-film"></span>
      <span>Now playing</span>
    </a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link" routerLink="movies/upcoming">
      <span class="far fa-calendar-alt"></span>
      <span>Coming soon</span>
    </a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link" routerLink="movies/trending">
      <span class="fas fa-fire-alt"></span>
      <span>Trending</span>
    </a>
  </ul>
  <ul class="nav-item" *ngIf="!userId">
    <a class="nav-link" routerLink="login">
      <span class="fas fa-user"></span>
      <span>Sign in</span>
    </a>
  </ul>
  <ul class="nav-item" *ngIf="userId">
    <a class="nav-link" routerLink="profile">
      <span class="fas fa-user"></span>
      <span>Profile</span>
    </a>
  </ul>
  <ul class="nav-item" *ngIf="userId">
    <a class="nav-link" routerLink="favorite">
      <span class="fas fa-heart"></span>
      <span>Favorite</span>
    </a>
  </ul>
  <ul class="nav-item" *ngIf="userId">
    <a class="nav-link" routerLink="watchlist">
      <span class="fas fa-th-list"></span>
      <span>Watch list</span>
    </a>
  </ul>
  <ul class="nav-item">
    <a class="nav-link" href="about">
      <span class="fas fa-info-circle"></span>
      <span>About</span>
    </a>
  </ul>
  <ul class="nav-item" *ngIf="userId" (click)="logoutUser()">
    <a class="nav-link" href="#">
      <span class="fas fa-sign-out-alt"></span>
      <span>Logout</span>
    </a>
  </ul>
</nav>
