#searchbox {
  padding: 1.3rem;
  background: #ff424f;
  width: 100%;
}

#sidebar {
  background: #222b31;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
}

form {
  width: 100%;
}

@media (min-width: 768px) {
  .sidebar {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .sidebar .nav-item {
    padding: 0rem !important ;
  }
}

span {
  padding-left: 1.2rem;
}

#add_padding {
  margin-top: 30px;
}