<div id="main_container">
  <div id="top_container">
    <div id="img_container">
      <img alt="no_poster_image" *ngIf="!movies.poster_path" class="center" src="https://s3.amazonaws.com/project2-dt/Filmography_NoPoster.jpg"/>
      <img alt="poster_image" *ngIf="movies.poster_path" class="center" src="{{ imgUrl }}{{ movies.backdrop_path }}"/>
      <div id="info_container">
        <h2>{{ movies.title }}</h2>
        <div>
          <div *ngFor="let date of dates">
            <div *ngIf="date.iso_3166_1=='US'">
              <div *ngFor="let d of date.release_dates">
                <div *ngIf="!d.note">
                  <div *ngIf="d.type == 3 || d.type == 4 || d.type == 2">
                    <span class="fas fa-calendar-alt"></span>
                    {{ d.release_date | date: "MM/dd/yyyy" }}
                  </div>
               </div>
              </div>
            </div>
          </div>
          <span class="fas fa-stopwatch"></span>
          <span>{{ movies.runtime }}</span>
          <span class="fas fa-star"></span>
          <span>{{ movies.vote_average }}</span>
        </div>
        <div class="row">
          <span id="genres_container" *ngFor="let genre of genres">{{ genre.name }}</span>
        </div>
        <div id="overview">
          {{ movies.overview }}
        </div>
        <div id="buttons">
          <button *ngIf="userId" [ngClass]="favoriteStyle" (click)="favoriteClicked()">{{favoriteBtnText}}</button>
          <button *ngIf="userId" [ngClass]="watchStyle" id="watchlist" (click)="watchClicked()">{{watchBtnText}}</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="more_info">
    <div *ngIf="currentlyOpen == 2 || currentlyOpen == 3" (click)="getCast()">CAST</div>
    <div *ngIf="currentlyOpen == 1 || currentlyOpen == 3" (click)="getTrailer()">TRAILER</div>
    <div *ngIf="currentlyOpen == 1 || currentlyOpen == 2" (click)="getSimilarMovies()">SIMILAR MOVIES</div>
  </div>

  <div id="bottom_container">
    <div class="row" id="extra_details_container">

      <div id="nav_info" *ngFor="let cast of casts">
        <div id="addPadding" *ngIf="currentlyOpen == 1" class="col-lg3-col-sm-4 my-5">
          <div id="profile_container">
            <a (click)="redirectUrl(cast.id)" style="cursor: pointer">
              <img alt="no_profile_image" *ngIf="!cast.profile_path" class="center" id="cast_img" src="https://s3.amazonaws.com/project2-dt/profile-jedi.png"/>
              <img alt="profile_poster" *ngIf="cast.profile_path" class="center" id="cast_img" src="{{ imgUrl }}{{ cast.profile_path }}"/>
            </a>
            <div id="actor_name">
              <div>
                {{ cast.character }}
              </div>
              <div id="cast_name">
                {{ cast.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="trailer_container">
        <iframe *ngIf="currentlyOpen == 2" width="760" height="515" [src]="getVideoUrl()" allowfullscreen></iframe>
        <br><br><br>
      </div>
  
      <div id="nav_info" *ngFor="let simMovie of similarMovies">
        <div id="addPadding" *ngIf="currentlyOpen == 3" class="col-lg3-col-sm-4 my-5">
          <div id="similar_movie_container">
            <a (click)="redirectUrl2(simMovie.id)" style="cursor: pointer">
              <img alt="no_poster_image" *ngIf="!simMovie.poster_path" id="simliar_movie_img" class="center" src="https://s3.amazonaws.com/project2-dt/no_poster_available.jpg"/>
              <img alt="poster_image" *ngIf="simMovie.poster_path" id="simliar_movie_img" class="center" src="{{ imgUrl }}{{ simMovie.poster_path }}"/>
            </a>
            <br />
            <div class="text-center" id="mTitle">
              {{ simMovie.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>