<div id="main_container">
  <div id="top_container">
    <div>
      <img src="{{ imgUrl }}{{ movies.backdrop_path }}" />
      <div id="info_container">
        <h2>{{ movies.title }}</h2>
        <div>
          <i class="fas fa-calendar-alt"></i>
          <span>{{ movies.release_date }}</span>
          <i class="fas fa-stopwatch"></i>
          <span>{{ movies.runtime }}</span>
          <i class="fas fa-star"></i>
          <span>{{ movies.vote_average }}</span>
        </div>
        <div class="row">
          <span id="genres_container" *ngFor="let genre of genres">{{
            genre.name
          }}</span>
        </div>
        <div id="overview">
          {{ movies.overview }}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md"></div>
      </div>
    </div>
  </div>

  <div id="bottom_container">
    <div id="nav_info" *ngFor="let cast of casts">
      <div id="profile_container">
        <img id="cast_img" src="{{ imgUrl }}{{ cast.profile_path }}" alt="" />
      </div>
      <!-- {{ cast.character }} -->
    </div>
  </div>
</div>
