<div id="home" class="container-fluid">
  <h3 id="title" class="text-muted text-center mb-3">WishList Movies To Watch</h3>

  <div class="row" *ngFor="let movie of wishMovies">
      <div id="addPadding" class="col-lg3-col-sm-4 my-5">
        <a (click)="redirectUrl(movie.id)" style="cursor: pointer">
          <img *ngIf="!movie.imgPath" class="center" src="https://s3.amazonaws.com/project2-dt/no_poster_available.jpg"/>
          <img *ngIf="movie.imgPath" class="center" src="{{ imgUrl }}{{ movie.imgPath }}"/>
        </a>
      </div>
    <p class="text-muted text-center mb-3" id="mTitle">
      {{ movie.title }}
    </p>
  </div>

  <br />
  <br />
</div>
