#hero_container {
  font-family: "Roboto", sans-serif;
}

.col-3 {
  padding-right: 0px;
  padding-left: 0px;
}

#sideBar {
  position: fixed;
  height: 100vh;
}

#main-container {
  position: static;
  margin-left: 10%;
  width: 100vw;
}

.col-md {
  padding: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  height: 100vh;
}
