#main_container {
  padding-right: 6rem;
  padding-left: 6rem;
  color: white;
  background-color: rgba(0,0,0,.87);
  /* height: 100vh; */
}

#extra_details_container {
  margin-left: 0;
  margin-right: 0;
}

img {
  padding-top: 2rem;
  min-width: 300px;
  max-width: 300px;
  min-height: 470px;
  max-height: 470px;
}

#star_name {
  font-size: 28px;
}

#star_bday {
  font-size: 18px;
}

#star_bio {
  font-size: 18px;
}

#more_info {
  padding-top: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#more_info div {
  padding-left: 2rem;
}

#profile_container {
  padding-left: 60px;
  max-width: 440px;
}

#movie_title {
  font-size: 20px;
  max-width: 250px;
  min-width: 250px;
}

#movie_character {
  color: #9e9e9e;
}
