<div id="back">
  <div class="container">    
      <div  class="jumbotron">
          <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                  <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
              </div>
              <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                  <div class="container" style="border-bottom:1px solid black">
                      <h2>HELLO, {{user3.username}};
                      </h2>
                  </div>
       <hr>
      <ul class="container details">
      <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{ user3.id }}</p></li>
      <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user3.birthday}}</p></li>
      <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">{{user3.email}}</a></p></li>
     <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">{{user3.wishlist}}</a></p></li>
      <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{{user3.favMovies[0].id}}</p></li>

    </ul>
                  </div>
          </div>
      </div>
  </div>
  <div class="container" >    
  
  <nav class="col-md-8 col-xs-12 col-sm-6 col-lg-8" class="navbar navbar-expand-lg navbar-light bg-light"> 
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
              <a class="nav-item nav-link" href="#">Wish List Movies</a>
              <a class="nav-item nav-link" href="#">Favorite Movies</a>
            </div>
          </div>
        </nav>
  </div>
  </div>
  
<div id="register">
    <div class="container">
          <mat-toolbar>
      <span>Update Profile</span>
    </mat-toolbar>
    <mat-card class="my-card">
       <mat-card-content>
          <form class="my-form">  
             <mat-form-field class="full-width">
                <mat-label>User Name</mat-label>
                <input  matInput  placeholder="First name"  name="fname"  #fname required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input  matInput  placeholder="Last Name" name="lname" #lname required>
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" name="email" #email  ngModel  required minlength="3">
             </mat-form-field>
             <mat-form-field class="full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date"  #date>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>
          </form>
       </mat-card-content>
       <mat-card-actions>
          <button mat-raised-button color="primary">UPDATE</button>       
       </mat-card-actions>
    </mat-card>
    </div>
    </div>
