
<div id="back">
  <div id="cont" class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img
          src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png"
          alt="stack photo"
          class="img"
        />
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid beige">
          <h2>Hello {{ user.username }},</h2>
        </div>
        <hr />
        <ul class="container details">
          <li>
            <p>
              <span
                class="glyphicon glyphicon-earphone one"
                style="width:50px;"
              ></span
              >Id: {{ user.id }}
            </p>
          </li>
          <li>
            <p>
              <span
                class="glyphicon glyphicon-new-window one"
                style="width:50px;"
              ></span
              ><a >Email: {{ user.email }}</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="register">
  <div class="container">
    <mat-toolbar id="cont" >
      <span>Update user</span>
    </mat-toolbar>
    <mat-card class="my-card" id="cont2">
      <mat-card-content>
        <form class="my-form">
          <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input
              matInput
              placeholder="User Name"
              name=" username"
              #username
              ngModel
              required
              minlength="3"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              name="password"
              #password
              ngModel
              required
              minlength="3"
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              type="email"
              name="email"
              #email
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              #date
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-secondary"
          mat-raised-button
          (click)="
            update(username.value, password.value, email.value, date.value)
          "
          color="secondary"
        >
          Update
        </button>
      </mat-card-actions>
      <div class="row" *ngIf="showMsg">
        <div class="col-xs-8">
          <p class="alert alert-success">
            <strong>Update Success!</strong> Please click login!.
          </p>
        </div>
      </div>
      <div class="row" *ngIf="showMsg2">
        <div class="col-xs-8">
          <p class="alert alert-danger">
            <strong>Update Failed!</strong> please try Again!.
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
