<div id="search_container" class="container-fluid">
  <h3 id="title" class="text-muted text-center mb-3">Search for "{{searchInput}}"</h3>

  <div class="row">
    <div id="searchContainer" *ngFor="let movie of movies">
      <div id="addPadding" class="col-lg3-col-sm-4 my-5">
        <a (click)="redirectUrl(movie.id)" style="cursor: pointer">
          <img src="{{ imgUrl }}{{ movie.poster_path }}" alt="" />
        </a>
        <p class="text-muted text-center mb-3" id="mTitle">{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>
